* {font-family:'Noto Sans KR', 'Malgun Gothic','맑은고딕',sans-serif;color:#000}
body {background:#ddd}

#title {color:#888}
#title.checked {color:#000}



#button01 {color:#000}



.button01 {display:inline-block;border:1px solid #000;background:#fff;width:210px;height:40px;line-height:40px;text-align:center;font-size:14px;}
.button01.clicked {background:#000;}

.button02 {display:inline-block;border:1px solid #000;background:#fff;width:210px;height:40px;line-height:40px;text-align:center;font-size:14px;}
.button02.clicked {background:#000;color:#fff}


